@page "/"

<PageTitle>Home</PageTitle>

<h1 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: #2c3e50; font-size: 32px; font-weight: bold; margin-top: 20px;">
    Hola y bienvenidos, equipo de selección de Ziur Software
</h1>

<p style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: #555; font-size: 18px; margin-top: 10px;">
    Para acceder a lo requerido de la prueba técnica dirigirse al apartado de <strong>Documentos</strong>.
</p>

